USE [master]
GO
/****** Object:  Database [AutoCreateUpdate]    Script Date: 10/25/2023 3:48:29 PM ******/
CREATE DATABASE [AutoCreateUpdate]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AutoCreateUpdate', FILENAME = N'D:\Databases\AutoCreateUpdate.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AutoCreateUpdate_log', FILENAME = N'D:\Databases\AutoCreateUpdate_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AutoCreateUpdate].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AutoCreateUpdate]
GO
/****** Object:  Table [dbo].[TriggerRequest]    Script Date: 10/25/2023 3:48:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TriggerRequest](
	[Id] [uniqueidentifier] NOT NULL,
	[TriggerPointCode] [varchar](20) NOT NULL,
	[EventType] [varchar](150) NOT NULL,
	[RequestData] [nvarchar](max) NULL,
	[ResponseData] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UpdatedDate] [datetime] NULL,
 CONSTRAINT [PK_TriggerRequest] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
