USE [master]
GO
/****** Object:  Database [CaseManagement]    Script Date: 10/25/2023 3:49:19 PM ******/
CREATE DATABASE [CaseManagement]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CaseManagement', FILENAME = N'D:\Databases\CaseManagement.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CaseManagement_log', FILENAME = N'D:\Databases\CaseManagement_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CaseManagement].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CaseManagement]
GO
/****** Object:  Table [dbo].[Inquiry]    Script Date: 10/25/2023 3:49:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inquiry](
	[Id] [uniqueidentifier] NOT NULL,
	[Source] [varchar](30) NOT NULL,
	[EntityId] [varchar](20) NULL,
	[Status] [varchar](20) NOT NULL,
	[SecondaryStatus] [varchar](50) NULL,
	[StatusDate] [datetime] NOT NULL,
	[OwnerType] [varchar](20) NULL,
	[OwnerId] [uniqueidentifier] NULL,
	[Assignee] [uniqueidentifier] NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UpdatedDate] [datetime] NULL,
 CONSTRAINT [PK_Inquiry] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OutboxMessage]    Script Date: 10/25/2023 3:49:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OutboxMessage](
	[Id] [uniqueidentifier] NOT NULL,
	[EventType] [nvarchar](250) NOT NULL,
	[EntityId] [varchar](36) NULL,
	[Payload] [nvarchar](max) NOT NULL,
	[IsDispatched] [bit] NOT NULL,
	[ProcessedDate] [datetime] NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UpdatedDate] [datetime] NULL,
 CONSTRAINT [PK_OutboxMessage] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
