USE [master]
GO
/****** Object:  Database [ContactManagement]    Script Date: 10/25/2023 3:49:58 PM ******/
CREATE DATABASE [ContactManagement]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ContactManagement', FILENAME = N'D:\Databases\ContactManagement.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ContactManagement_log', FILENAME = N'D:\Databases\ContactManagement_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ContactManagement].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ContactManagement]
GO
/****** Object:  Table [dbo].[Contact]    Script Date: 10/25/2023 3:49:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contact](
	[Id] [uniqueidentifier] NOT NULL,
	[ObjectId] [uniqueidentifier] NOT NULL,
	[ContactName] [nvarchar](50) NOT NULL,
	[PhoneNumber] [varchar](20) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UpdatedDate] [datetime] NULL,
 CONSTRAINT [PK_Contact] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OutboxMessage]    Script Date: 10/25/2023 3:49:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OutboxMessage](
	[Id] [uniqueidentifier] NOT NULL,
	[EventType] [nvarchar](250) NOT NULL,
	[EntityId] [varchar](36) NULL,
	[Payload] [nvarchar](max) NOT NULL,
	[IsDispatched] [bit] NOT NULL,
	[ProcessedDate] [datetime] NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UpdatedDate] [datetime] NULL,
 CONSTRAINT [PK_OutboxMessage] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
