USE [master]
GO
/****** Object:  Database [SlaOla]    Script Date: 10/25/2023 3:51:02 PM ******/
CREATE DATABASE [SlaOla]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SlaOla', FILENAME = N'D:\Databases\SlaOla.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SlaOla_log', FILENAME = N'D:\Databases\SlaOla_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SlaOla].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SlaOla]
GO
/****** Object:  Table [dbo].[LaChangeHistory]    Script Date: 10/25/2023 3:51:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LaChangeHistory](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ChangeId] [uniqueidentifier] NOT NULL,
	[LaObjectId] [uniqueidentifier] NOT NULL,
	[Attribute] [varchar](100) NOT NULL,
	[Value] [nvarchar](250) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UpdatedDate] [datetime] NULL,
 CONSTRAINT [PK_LaChangeHistory] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LaObject]    Script Date: 10/25/2023 3:51:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LaObject](
	[Id] [uniqueidentifier] NOT NULL,
	[Source] [varchar](20) NOT NULL,
	[ObjectId] [uniqueidentifier] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UpdatedDate] [datetime] NULL,
 CONSTRAINT [PK_LaObject] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LaChangeHistory]  WITH CHECK ADD  CONSTRAINT [FK_LaChangeHistory_LaObject] FOREIGN KEY([LaObjectId])
REFERENCES [dbo].[LaObject] ([Id])
GO
ALTER TABLE [dbo].[LaChangeHistory] CHECK CONSTRAINT [FK_LaChangeHistory_LaObject]
GO
USE [master]
GO
